.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.section_1 {
    display: flex;
    justify-content: space-between;
}

.text {
    color: #323260;
    font-family: Roboto-Regular, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.46em;
    letter-spacing: 0;
    margin: 0 0 137px;
    width: 20em;
}

.order_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    width: 79%;
}

.order_button {
    display: block;
    background-color: var(--light_blue);
    border: none;
    border-radius: 25px;
    color: var(--white_text);
    font-family: Roboto-Regular, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0;
    text-decoration: none;
    text-align: center;
    height: 50px;
    max-width: 123px;
    width: 100%;
}

.instagram {
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none'%3E%3Cpath fill='url(%23paint0_radial)' d='M25 50a25 25 0 100-50 25 25 0 000 50z'/%3E%3Cpath fill='%23FEFEFE' d='M19.75 13.8a6.58 6.58 0 00-6.57 6.57v9.26a6.58 6.58 0 006.57 6.57h10.5a6.58 6.58 0 006.57-6.57v-9.26a6.58 6.58 0 00-6.57-6.57h-10.5zm10.5 24.28h-10.5a8.46 8.46 0 01-8.45-8.45v-9.26c0-4.66 3.8-8.45 8.45-8.45h10.5c4.66 0 8.45 3.8 8.45 8.45v9.26c0 4.65-3.8 8.45-8.45 8.45z'/%3E%3Cpath fill='%23FEFEFE' d='M25 19.36a5.65 5.65 0 10.01 11.3 5.65 5.65 0 00-.01-11.3zm0 13.16a7.53 7.53 0 11.02-15.06A7.53 7.53 0 0125 32.52zM33.97 17.7a1.56 1.56 0 11-3.12 0 1.56 1.56 0 013.12 0z'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientTransform='rotate(-44.19 57.16 21.77) scale(71.1041)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FAEA1C'/%3E%3Cstop offset='.45' stop-color='%23E62874'/%3E%3Cstop offset='1' stop-color='%2345519D'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: 50%;
    padding: 0;
    height: 71px;
    width: 71px;
}

.link {
    display: block;
    text-decoration: none;
    height: 71px;
    width: 71px;
}

.header {
    background-color: var(--gray);
    border-radius: 12px;
    display: flex;
    align-items: center;
    height: 82px;
    padding-left: 80px;
    position: relative;
    max-width: 380px;
    width: 100%;
}

.header:before {
    content: '';
    display: block;
    position: absolute;
    top: 18px;
    left: 25px;
    height: 41px;
    width: 38px;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='41' viewBox='0 0 38 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M23.6618 32.3199C23.6618 32.3427 23.6542 32.373 23.6542 32.3958C23.6618 33.6412 22.2355 35.0992 20.2631 35.8586C19.0948 36.3066 17.8961 36.4585 16.8947 36.2763C15.9996 36.1168 15.3926 35.7143 15.1726 35.1448C14.6871 33.8842 16.2044 32.0769 18.4803 31.2036C19.7851 30.7024 21.1355 30.5733 22.1824 30.8619C22.3645 30.9074 22.5617 30.8695 22.7059 30.7632C22.8576 30.6493 22.9411 30.4746 22.9411 30.2847V22.7441C22.9411 22.5618 22.8576 22.3948 22.7211 22.2809C22.5845 22.167 22.4024 22.1214 22.2279 22.1518L10.2719 24.4603C9.99117 24.5134 9.78634 24.764 9.78634 25.0526V35.7295C9.78634 35.7523 9.78634 35.7751 9.78634 35.7979C9.82427 37.0357 8.36769 38.5392 6.39524 39.2986C5.22695 39.7466 4.0283 39.8985 3.02691 39.7163C2.13172 39.5568 1.52481 39.1543 1.30481 38.5848C0.81928 37.3242 2.33655 35.5245 4.61245 34.6436C5.46212 34.3171 6.32697 34.15 7.11595 34.15C7.54078 34.15 7.95044 34.2032 8.31459 34.3019C8.49666 34.3474 8.68632 34.3095 8.83805 34.1956C8.98977 34.0817 9.07322 33.907 9.07322 33.7172V17.8764L23.6769 15.0591V32.3199H23.6618ZM24.648 13.8669C24.5114 13.753 24.3294 13.7074 24.1549 13.7378L8.34493 16.7905C8.06424 16.8437 7.85941 17.0943 7.85941 17.3828V32.9957C6.72904 32.8591 5.42419 33.0413 4.17244 33.5197C1.19101 34.6664 -0.569021 37.0812 0.17444 39.0176C0.546171 39.9972 1.48688 40.6655 2.8069 40.9009C3.15587 40.9617 3.51243 40.992 3.89175 40.992C4.83246 40.992 5.84144 40.7946 6.82008 40.4149C9.30081 39.4581 11.0077 37.5748 10.985 35.8055C10.985 35.7903 10.985 35.7827 10.985 35.7675V25.5386L21.7424 23.4655V29.5481C20.6121 29.4115 19.3072 29.5937 18.0555 30.0797C15.074 31.2264 13.314 33.6412 14.0575 35.5776C14.4292 36.5496 15.3699 37.2179 16.6899 37.4609C17.9037 37.6811 19.33 37.5065 20.7031 36.9825C23.1307 36.0485 24.8301 34.1956 24.868 32.4642C24.868 32.4414 24.8756 32.4186 24.8756 32.3882V14.3377C24.8756 14.1631 24.7997 14.0036 24.6783 13.8897C24.6707 13.8821 24.6632 13.8745 24.6556 13.8669H24.648Z' fill='%2334302E'/%3E%3Cpath d='M10.9851 21.6885L21.7426 19.6078V20.0482L10.9851 22.1289V21.6885ZM10.3858 23.4654C10.4238 23.4654 10.4617 23.4578 10.4996 23.4578L22.4557 21.1493C22.7364 21.0961 22.9412 20.8455 22.9412 20.557V18.8863C22.9412 18.7041 22.8578 18.537 22.7212 18.4231C22.5847 18.3092 22.4026 18.2637 22.2281 18.294L10.272 20.6025C9.99133 20.6557 9.7865 20.9063 9.7865 21.1949V22.8655C9.7865 23.0478 9.86995 23.2148 10.0065 23.3287C10.1127 23.4199 10.2493 23.4654 10.3934 23.4654H10.3858Z' fill='%2334302E'/%3E%3Cpath d='M33.4255 11.3305C33.418 11.3457 33.4104 11.3533 33.4104 11.3685C33.1297 12.0216 32.0676 12.4544 30.8765 12.4013C30.171 12.3709 29.5186 12.181 29.0482 11.8621C28.6158 11.5735 28.3882 11.2242 28.4034 10.8749C28.4337 10.1383 29.5186 9.56116 30.8158 9.56116C30.8765 9.56116 30.9448 9.56116 31.0055 9.56876C31.7945 9.60673 32.5152 9.84213 32.9931 10.2218C33.069 10.2826 33.16 10.2978 33.2511 10.2826C33.3421 10.2598 33.418 10.1914 33.4559 10.1079L35.1325 6.25785C35.1704 6.17432 35.1628 6.08319 35.1249 5.99966C35.0869 5.91613 35.0111 5.86297 34.92 5.84019L28.2972 4.3594C28.1606 4.32902 28.0089 4.39736 27.9558 4.53405L25.5813 9.99401C25.5737 10.0016 25.5737 10.0092 25.5661 10.0244C25.3081 10.6775 24.2157 11.1331 23.0247 11.0799C22.3191 11.0496 21.6743 10.8597 21.1964 10.5408C20.7639 10.2522 20.5363 9.90288 20.5515 9.55357C20.5667 9.20425 20.8246 8.87012 21.2798 8.62712C21.7805 8.35374 22.4481 8.21706 23.1536 8.24743C23.9426 8.2854 24.6633 8.52081 25.1412 8.9005C25.2171 8.96125 25.3081 8.97644 25.3992 8.96125C25.4902 8.93847 25.5661 8.87772 25.604 8.78659L29.1317 0.668799L37.287 2.49132L33.4331 11.3457L33.4255 11.3305ZM37.9925 2.18756C37.9925 2.17238 37.9849 2.15719 37.9773 2.14959C37.9394 2.05847 37.8635 1.99772 37.7649 1.97494L29.0179 0.0157304C28.8737 -0.0146449 28.7372 0.0536995 28.6765 0.190388L25.1944 8.19427C24.6481 7.86774 23.935 7.66271 23.1764 7.62474C22.3646 7.59436 21.5833 7.74624 20.9915 8.07277C20.3467 8.42968 19.9749 8.93847 19.9522 9.50041C19.9294 10.0699 20.2481 10.6091 20.8626 11.0192C21.4315 11.3989 22.1902 11.6267 23.0019 11.6646C24.4737 11.733 25.7482 11.1483 26.1199 10.2598C26.1199 10.2522 26.1275 10.2522 26.1275 10.2446L28.411 4.99728L34.4345 6.34898L33.0538 9.53079C32.5076 9.20425 31.7869 8.99922 31.0358 8.96884C29.2758 8.89291 27.8572 9.72063 27.8116 10.8521C27.7889 11.4216 28.1075 11.9608 28.722 12.3709C29.291 12.7506 30.0496 12.9784 30.8614 13.0163C30.9372 13.0239 31.0055 13.0239 31.0814 13.0239C32.4241 13.0239 33.5849 12.4772 33.9566 11.6571C33.9642 11.6495 33.9718 11.6343 33.9718 11.6191L37.9849 2.40019C38.0153 2.33185 38.0153 2.2635 38.0001 2.20275L37.9925 2.18756Z' fill='%2334302E'/%3E%3Cpath d='M29.2604 3.02296L35.284 4.37466L35.155 4.66323L29.1315 3.31153L29.2604 3.02296ZM28.8052 2.55214L28.4335 3.40265C28.3956 3.48618 28.4032 3.57731 28.4411 3.66084C28.479 3.73678 28.5549 3.79753 28.6459 3.82031L35.2688 5.30111C35.2916 5.3087 35.3143 5.3087 35.3371 5.3087C35.4509 5.3087 35.5647 5.24036 35.6102 5.12645L35.9819 4.27594C36.0199 4.19241 36.0123 4.10128 35.9743 4.01775C35.9364 3.93422 35.8605 3.88106 35.7695 3.85828L29.1466 2.37749C29.0101 2.34711 28.8659 2.41545 28.8052 2.55214Z' fill='%2334302E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='38' height='41' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
}

.header h2 {
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0;
    width: 16em;
}

@media screen and (max-width: 1100px) {
    .section_1__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.separator {
    color: var(--gray);
    background-color: var(--gray);
    border: none;
    height: 1px;
    margin: 40px auto;
    max-width: 1140px;
    width: 100%;
}

.continue {
    background: var(--light_blue);
    border: none;
    border-radius: 25px;
    color: var(--white_text);
    cursor: pointer;
    display: block;
    font-family: Roboto-Regular, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 60px auto;
    max-width: 180px;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.shadow {
    box-shadow: 4px 4px 9px gray;
}

.shadow-round {
    border-radius: 50%;
}

.shadow-no_shadow {
    box-shadow: none;
}

.shadow:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 5px gray;
}

.shadow:active {
    transform: scale(0.99);
    box-shadow: 3px 3px 3px gray;
}