.socialLinks {
    background-color: var(--gray);
    border-radius: 10px;
    padding: 23px;
    margin-bottom: 30px;
    max-width: 444px;
    width: 100%;
}

.text {
    font-family: Roboto,sans-serif;
    font-size: 21px;
    line-height: 1.4em;
    color: var(--text_color);
}

.socials {
    display: flex;
    justify-content: space-between;
    margin: 17px auto 0 auto;
    height: 50px;
    max-width: 182px;
    width: 100%;
}

.button {
    background-color: var(--gray);
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    height: 50px;
    width: 50px;
}

.whatsapp {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none'%3E%3Cpath fill='%2343AC3C' d='M25 50a25 25 0 100-50 25 25 0 000 50z'/%3E%3Cpath fill='%23FEFEFE' d='M18.41 34.62l.42.26A11.67 11.67 0 0036.66 25c0-6.43-5.23-11.66-11.66-11.66a11.67 11.67 0 00-9.18 18.83l.28.36-.6 3.1 2.91-1.01zM25 38.7c-2.4 0-4.75-.64-6.83-1.84l-5.34 1.84 1.1-5.65A13.71 13.71 0 0125 11.3c7.55 0 13.7 6.15 13.7 13.7 0 7.55-6.15 13.7-13.7 13.7z'/%3E%3Cpath fill='%23FEFEFE' d='M18.08 19.74s.8-1.4 1.46-1.49c.66-.08 1.5-.08 1.73.35a80 80 0 011.24 2.92s.18.42-.09.84a8.32 8.32 0 01-.87 1.02s-.33.42 0 .88c.34.45.85 1.3 1.93 2.36 1.07 1.08 3.13 1.84 3.13 1.84s.3.04.48-.15c.19-.18 1.2-1.45 1.2-1.45s.33-.43.88-.18c.54.25 2.88 1.42 2.88 1.42s.28.1.28.51c0 .42-.17 1.43-.51 1.78-.34.34-1.35 1.4-2.86 1.4-1.5 0-5.1-1.23-7-3.14-1.92-1.92-3.62-3.86-4.02-5.62-.4-1.77-.35-2.57.14-3.3z'/%3E%3C/svg%3E");
}

.instagram {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none'%3E%3Cpath fill='url(%23paint0_radial)' d='M25 50a25 25 0 100-50 25 25 0 000 50z'/%3E%3Cpath fill='%23FEFEFE' d='M19.75 13.8a6.58 6.58 0 00-6.57 6.57v9.26a6.58 6.58 0 006.57 6.57h10.5a6.58 6.58 0 006.57-6.57v-9.26a6.58 6.58 0 00-6.57-6.57h-10.5zm10.5 24.28h-10.5a8.46 8.46 0 01-8.45-8.45v-9.26c0-4.66 3.8-8.45 8.45-8.45h10.5c4.66 0 8.45 3.8 8.45 8.45v9.26c0 4.65-3.8 8.45-8.45 8.45z'/%3E%3Cpath fill='%23FEFEFE' d='M25 19.36a5.65 5.65 0 10.01 11.3 5.65 5.65 0 00-.01-11.3zm0 13.16a7.53 7.53 0 11.02-15.06A7.53 7.53 0 0125 32.52zM33.97 17.7a1.56 1.56 0 11-3.12 0 1.56 1.56 0 013.12 0z'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientTransform='rotate(-44.19 57.16 21.77) scale(71.1041)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FAEA1C'/%3E%3Cstop offset='.45' stop-color='%23E62874'/%3E%3Cstop offset='1' stop-color='%2345519D'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");
}

.link {
    display: block;
    text-decoration: none;
    height: 50px;
    width: 50px;
}