.size_select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    padding: 0 11% 0 7%;
}

.header {
    position: relative;
}

.header:before {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='65' viewBox='0 0 21 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.22 12.192L15.676 0.231995H20.828V65H13.468V10.812L4.084 18.172L0.22 12.192Z' fill='%23EBEBEB'/%3E%3C/svg%3E%0A");
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    height: 65px;
    width: 21px;
}

.header__text {
    color: var(--text_color);
    font-family: Roboto-Regular, sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1em;
    letter-spacing: 0;
    padding-left: 60px;
    width: 7em;
}

.error {
    color: red;
}

.buttons {
    cursor: pointer;
    position: relative;
    height: 330px;
    max-width: 580px;
    width: 100%;
}

.top_tag {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='75' viewBox='0 0 50 75' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10C0 4.47715 4.47715 0 10 0H50V75H10C4.47715 75 0 70.5228 0 65V10Z' fill='%233E81FB'/%3E%3Cpath d='M1.15 35.7V34.5H9.775V35.7H6.1V45H4.825V35.7H1.15ZM11.5229 39.75C11.5229 40.94 11.9079 41.94 12.6779 42.75C13.4479 43.55 14.3979 43.95 15.5279 43.95C16.7079 43.95 17.6679 43.55 18.4079 42.75C19.1579 41.95 19.5329 40.95 19.5329 39.75C19.5329 38.54 19.1479 37.54 18.3779 36.75C17.6079 35.95 16.6579 35.55 15.5279 35.55C14.3779 35.55 13.4229 35.945 12.6629 36.735C11.9029 37.525 11.5229 38.53 11.5229 39.75ZM10.1729 39.75C10.1729 38.22 10.6779 36.94 11.6879 35.91C12.6979 34.87 13.9779 34.35 15.5279 34.35C17.0679 34.35 18.3429 34.855 19.3529 35.865C20.3729 36.875 20.8829 38.17 20.8829 39.75C20.8829 41.3 20.3729 42.59 19.3529 43.62C18.3329 44.64 17.0579 45.15 15.5279 45.15C13.9879 45.15 12.7079 44.645 11.6879 43.635C10.6779 42.625 10.1729 41.33 10.1729 39.75ZM30.1896 45V35.7H24.4896V45H23.2146V34.5H31.4646V45H30.1896ZM34.5211 44.19C34.5211 43.98 34.6011 43.795 34.7611 43.635C34.9211 43.475 35.1311 43.395 35.3911 43.395C35.6111 43.395 35.7961 43.48 35.9461 43.65C36.1061 43.81 36.1861 43.99 36.1861 44.19C36.1861 44.42 36.1111 44.62 35.9611 44.79C35.8111 44.96 35.6211 45.045 35.3911 45.045C35.1311 45.045 34.9211 44.96 34.7611 44.79C34.6011 44.62 34.5211 44.42 34.5211 44.19ZM34.7161 41.775V34.5H35.9911V41.775H34.7161Z' fill='white'/%3E%3C/svg%3E%0A");
    display: block;
    position: absolute;
    left: -40px;
    height: 75px;
    width: 60px;
    z-index: -1;
}

.button {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    background-color: var(--gray);
    border-radius: 10px 0 0 10px;
    height: 75px;
    padding: 0 2%;
    max-width: 580px;
    width: 100%;
}

.button:hover, .selected {
    border: 2px solid var(--light_blue);
}

.text {
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0;
    margin: 0;
}

.price {
    color: var(--price_color);
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0;
    width: 3.2em;
}

@media screen and (max-width: 390px) {
    .text {
        font-size: 12px;
    }

    .price {
        font-size: 14px;
    }
}

.button.has_top_tag:hover ~ .top_tag {
    transform: scale(1.03);
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    left: -47px;
}

.button.has_top_tag:active ~ .top_tag {
    box-shadow: 3px 3px 3px gray;
    transform: scale(0.99);
    left: -35px;
}