.cover_select {
    display: flex;
    padding: 0 11% 0 7%;
}

.container {
    display: flex;
    max-width: 773px;
    width: 100%;
}

.header {
    position: relative;
    margin-top: 37px;
}

.header_text {
    color: var(--text_color);
    font-family: Roboto-Regular, sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1em;
    letter-spacing: 0;
    padding-left: 65px;
    width: 7em;
}

.error {
    color: red;
}

.header_text:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='66' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.4 66v-6C9 51.4 15.2 45 18.8 40.5c7-8.6 10.4-16 10.4-21.9 0-3-1-5.5-2.8-7.4-1.8-2-4.3-3-7.7-3-2.8 0-5.2 1-7.4 2.7a12.5 12.5 0 00-4.1 7.6L.9 16c.8-4.7 2.9-8.4 6.3-11A19 19 0 0119.3.8c5.7 0 10 1.6 13.1 4.8 3 3.2 4.6 7 4.6 11.4a31 31 0 01-3.3 13.3c-2.2 4.6-5 9-8.6 13.2A188.2 188.2 0 0110 59h29.7V66H.4z' fill='%23EBEBEB'/%3E%3C/svg%3E");
    display: block;
    position: absolute;
    margin-top: 7px;
    left: 0;
    height: 66px;
    width: 40px;
}

.buttons {
    margin-left: 17%;
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    background-color: var(--gray);
    border-radius: 10px;
    padding-left: 70px;
    height: 70px;
    max-width: 280px;
    width: 100%;
}

.button:hover {
    border: 2px solid var(--light_blue);
}

.selected {
    border: 2px solid var(--light_blue);
}

.text {
    color: var(--text_color);
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0;
}

.cover_select__image img {
    height: auto;
    width: 237px;
}

.apple {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M31.3 40H8.7A8.6 8.6 0 010 31.3V8.7A8.6 8.6 0 018.7 0h22.6A8.6 8.6 0 0140 8.7v22.6a8.6 8.6 0 01-8.7 8.7z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M29.3 24.2v1.1c0 .8 0 1.5-.2 2.3a2.8 2.8 0 01-1.2 1.8c-.7.5-1.5.8-2.3.9H25a3.2 3.2 0 01-2.7-1.1 3 3 0 01-.4-3 3 3 0 012.1-1.9l2.5-.7a1.4 1.4 0 001.1-1.4V13.4a.5.5 0 00-.2-.5.6.6 0 00-.4 0L16.3 15a.8.8 0 00-.7.8V28c0 .8 0 1.5-.2 2.3a2.8 2.8 0 01-1.2 1.8c-.7.5-1.5.8-2.3.9h-.6a3.2 3.2 0 01-2.6-1.1 3 3 0 01-.5-3 3 3 0 012.2-2l2.5-.6a1.4 1.4 0 001-1.4V10a1.2 1.2 0 011-1.2l13.4-2.5c.3 0 .5 0 .7.2a.8.8 0 01.3.6v17z' fill='%23BB58BB'/%3E%3Cpath d='M29.3 24.2v1.1c0 .8 0 1.5-.2 2.3a2.8 2.8 0 01-1.2 1.8c-.7.5-1.5.8-2.3.9H25a3.2 3.2 0 01-2.7-1.1 3 3 0 01-.4-3 3 3 0 012.1-1.9l2.5-.7a1.4 1.4 0 001.1-1.4V13.4a.5.5 0 00-.2-.5.6.6 0 00-.4 0L16.3 15a.8.8 0 00-.7.8V28c0 .8 0 1.5-.2 2.3a2.8 2.8 0 01-1.2 1.8c-.7.5-1.5.8-2.3.9h-.6a3.2 3.2 0 01-2.6-1.1 3 3 0 01-.5-3 3 3 0 012.2-2l2.5-.6a1.4 1.4 0 001-1.4V10a1.2 1.2 0 011-1.2l13.4-2.5c.3 0 .5 0 .7.2a.8.8 0 01.3.6v17z' fill='url(%23paint1_radial)'/%3E%3Cpath d='M29.3 24.2v1.1c0 .8 0 1.5-.2 2.3a2.8 2.8 0 01-1.2 1.8c-.7.5-1.5.8-2.3.9H25a3.2 3.2 0 01-2.7-1.1 3 3 0 01-.4-3 3 3 0 012.1-1.9l2.5-.7a1.4 1.4 0 001.1-1.4V13.4a.5.5 0 00-.2-.5.6.6 0 00-.4 0L16.3 15a.8.8 0 00-.7.8V28c0 .8 0 1.5-.2 2.3a2.8 2.8 0 01-1.2 1.8c-.7.5-1.5.8-2.3.9h-.6a3.2 3.2 0 01-2.6-1.1 3 3 0 01-.5-3 3 3 0 012.2-2l2.5-.6a1.4 1.4 0 001-1.4V10a1.2 1.2 0 011-1.2l13.4-2.5c.3 0 .5 0 .7.2a.8.8 0 01.3.6v17z' fill='url(%23paint2_radial)'/%3E%3Cpath d='M29.3 24.2v1.1c0 .8 0 1.5-.2 2.3a2.8 2.8 0 01-1.2 1.8c-.7.5-1.5.8-2.3.9H25a3.2 3.2 0 01-2.7-1.1 3 3 0 01-.4-3 3 3 0 012.1-1.9l2.5-.7a1.4 1.4 0 001.1-1.4V13.4a.5.5 0 00-.2-.5.6.6 0 00-.4 0L16.3 15a.8.8 0 00-.7.8V28c0 .8 0 1.5-.2 2.3a2.8 2.8 0 01-1.2 1.8c-.7.5-1.5.8-2.3.9h-.6a3.2 3.2 0 01-2.6-1.1 3 3 0 01-.5-3 3 3 0 012.2-2l2.5-.6a1.4 1.4 0 001-1.4V10a1.2 1.2 0 011-1.2l13.4-2.5c.3 0 .5 0 .7.2a.8.8 0 01.3.6v17z' fill='url(%23paint3_linear)'/%3E%3Cpath d='M29.3 24.2v1.1c0 .8 0 1.5-.2 2.3a2.8 2.8 0 01-1.2 1.8c-.7.5-1.5.8-2.3.9H25a3.2 3.2 0 01-2.7-1.1 3 3 0 01-.4-3 3 3 0 012.1-1.9l2.5-.7a1.4 1.4 0 001.1-1.4V13.4a.5.5 0 00-.2-.5.6.6 0 00-.4 0L16.3 15a.8.8 0 00-.7.8V28c0 .8 0 1.5-.2 2.3a2.8 2.8 0 01-1.2 1.8c-.7.5-1.5.8-2.3.9h-.6a3.2 3.2 0 01-2.6-1.1 3 3 0 01-.5-3 3 3 0 012.2-2l2.5-.6a1.4 1.4 0 001-1.4V10a1.2 1.2 0 011-1.2l13.4-2.5c.3 0 .5 0 .7.2a.8.8 0 01.3.6v17z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CradialGradient id='paint1_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='rotate(90 -8.8 21.3) scale(16.871)'%3E%3Cstop stop-color='%237470F9'/%3E%3Cstop offset='1' stop-color='%237A70FE' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint2_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='rotate(-105.5 23 3.3) scale(13.618)'%3E%3Cstop stop-color='%234CA3F8'/%3E%3Cstop offset='.4' stop-color='%234CA4F7'/%3E%3Cstop offset='1' stop-color='%234AA2F9' stop-opacity='0'/%3E%3C/radialGradient%3E%3ClinearGradient id='paint0_linear' x1='20' y1='40' x2='20' y2='0' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FD355A'/%3E%3Cstop offset='1' stop-color='%23FD5163'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear' x1='16.1' y1='11.5' x2='22' y2='22.1' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF6380'/%3E%3Cstop offset='1' stop-color='%23F65E79' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h40v40H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-position: 15px center;
    background-repeat: no-repeat;
    margin-top: 94px;
}

.spotify {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23191515' fill-rule='evenodd' d='M31.33 40H8.67A8.65 8.65 0 010 31.33V8.67A8.65 8.65 0 018.67 0h22.66A8.65 8.65 0 0140 8.67v22.66A8.65 8.65 0 0131.33 40z' clip-rule='evenodd'/%3E%3Cpath fill='%2362D36E' d='M28.32 21.52a23.25 23.25 0 00-16.79-1.78c-.64.18-1.02 1.27-.84 1.9a1.2 1.2 0 001.47.85 20.87 20.87 0 0115.05 1.6c.18.09.37.13.56.13.43 0 .85-.67 1.07-1.08a1.2 1.2 0 00-.52-1.62zM20 35a15 15 0 110-30 15 15 0 010 30zm-2.36-22.09c-2.3 0-4.59.28-6.82.83-.74.19-1.19 1.08-1 1.81.18.74.92 1.19 1.66 1a25.7 25.7 0 0117.54 1.93c.2.1.4.14.62.14.5 0 .98-.42 1.23-.9a1.38 1.38 0 00-.62-1.85 28 28 0 00-12.6-2.96zm0 11.63c-1.84 0-3.68.28-5.45.82-.54.17-.85 1.32-.68 1.87a1.03 1.03 0 001.29.68 16.4 16.4 0 0112.73 1.29 1.02 1.02 0 001.4-.4c.27-.5.1-1.71-.4-1.99a18.5 18.5 0 00-8.89-2.27z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h40v40H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-position: 15px center;
    background-repeat: no-repeat;
    margin: 10px 0 10px;
}

.vk_music {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'%3E%3Cpath fill='%232787F5' d='M0 19.17C0 10.13 0 5.6 2.8 2.8 5.62 0 10.14 0 19.18 0h1.66C29.87 0 34.4 0 37.2 2.8 40 5.62 40 10.14 40 19.18v1.66c0 9.04 0 13.56-2.8 16.36C34.38 40 29.86 40 20.82 40h-1.66C10.13 40 5.6 40 2.8 37.2 0 34.38 0 29.86 0 20.82v-1.66z'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M10.83 12.5H7.92c-.84 0-1 .4-1 .82 0 .78.99 4.6 4.6 9.68 2.41 3.46 5.8 5.33 8.9 5.33 1.85 0 2.08-.41 2.08-1.13v-2.62c0-.83.18-1 .77-1 .43 0 1.17.22 2.9 1.89 1.98 1.98 2.3 2.86 3.42 2.86h2.92c.83 0 1.25-.41 1-1.24-.26-.82-1.2-2-2.45-3.41-.68-.8-1.7-1.67-2.01-2.1-.44-.56-.31-.8 0-1.3 0 0 3.55-5 3.92-6.7.19-.63 0-1.08-.88-1.08h-2.92c-.74 0-1.08.4-1.27.82 0 0-1.48 3.62-3.58 5.97-.68.68-1 .9-1.36.9-.19 0-.46-.22-.46-.84v-5.78c0-.74-.21-1.07-.83-1.07h-4.58c-.47 0-.75.34-.75.67 0 .7 1.05.87 1.16 2.84v4.3c0 .94-.17 1.11-.54 1.11-.99 0-3.4-3.63-4.82-7.79-.28-.8-.56-1.13-1.3-1.13z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-position: 15px center;
    background-repeat: no-repeat;
}


@media screen and (max-width: 1250px) {
    .cover_select__buttons {
        margin-left: 10%;
    }
}

@media screen and (max-width: 1160px) {
    .cover_select {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 7%;
    }

    .cover_select__header {
        display: flex;
        align-items: center;
        margin-top: 0;
    }

    .cover_select__buttons {

    }

    .cover_select__apple {
        margin-top: 0;
    }

    .cover_select__image {
        margin-top: 30px;
    }
}

@media screen and (max-width: 650px) {
    .cover_select__container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cover_select__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0 0;
        width: 100%;
    }
}